@font-face {
  font-family: 'Ubuntu-Regular';
  src: url('fonts/Ubuntu-Regular.ttf');
  
  }



body {
  position: relative;
  width: 100%;
  height: 1290px;
 background: url('./images/bgBottomLeft.png') no-repeat;
 background-size: cover;

  /* Accent */ 
  background-color: #373AF5;
}

@media only screen and (max-width: 1468px) {
  .body{
  position: relative;
  width: 100%;
  height:2000px;
 background: url('./images/bgBottomLeft.png') no-repeat;
 background-size: 300px 2000px;

  /* Accent */ 
  background-color: #373AF5;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
